/* 公共样式 */
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.wrap{
    width: 100%;
    overflow-x: hidden;
}
.clearfix:before, .clearfix:after {
    display: table;
    clear: both;
    content: " ";
}
.clear-margin {
    margin: 0 !important;
}
.clear-margin-right {
    margin-right: 0 !important;
}
.mod-con {
    width: 1200px;
    margin: 0 auto;
}
.first-h1{
    font-size: 25px;
    color: #0B0B0B;
}
/* 页头样式 */
.wrap_head{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #F5F5F5;
}
.wrap_head .head_con{
    display: block;
    width: 1200px;
    height: 60px;
    margin: 0px auto;
    position: relative;
}
.wrap_head .drop-down-menu{
    display: none;
    width: 100%;
    height: 300px;
    padding: 5px;
    position: absolute;
    top: 62px;
    background: #fff;
    z-index: 999;
    /* box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wrap_head .drop-down-menu .center_wrap {
    display: flex;
    justify-content: space-between;
}
.wrap_head .drop-down-menu .menu-list {
    display: flex;
}
.wrap_head .drop-down-menu .menu-list dl{
    padding: 5px 5px;
    margin-right: 40px;
    line-height: 40px;
}
.wrap_head .drop-down-menu .menu-list dt{
    color: #9A9393;
}
.wrap_head .drop-down-menu .menu-list dd{
    color: #606060;
}
.wrap_head .drop-down-menu .menu-list dd:hover {
    color: #66b1ff;
}
.wrap_head .drop-down-menu .menu-banner {
    height: 100%;
}
.wrap_head .drop-down-menu .menu-banner img{
    height: 100%;
}
.wrap_head .logo{
    width: 168px;
    position: absolute;
    left: 0px;
    top: 15px;
}
.wrap_head .logo h1{
    margin-left: 5px;
    font-size: 23px;
    color: #21A6E2;
}
.wrap_head .menu_list{
    display: block;
    height: 60px;
    position: absolute;
    left: 180px;
    top: 0;
}

.wrap_head .menu_item{
    height: 60px;
    line-height: 60px;
    float: left;
    margin-left: 56px;
    font-size: 19px;
    font-weight: 400;
}
.wrap_head .menu_item a{
    color: #A1A1A1;
}
.wrap_head .menu_item:hover a{
    color: #21A6E2;
}
.wrap_head .menu_item.active a{
    color: #21A6E2;
}
.wrap_head .menu_item .search_btn{
    height: 30px;
    margin-left: unset;
    position: relative;
    box-sizing: border-box;
    border-radius: 17px;
    padding: 0 30px 0 10px;
    border: 1px solid #B1B1B1;
    background: url(../static/images/search.png) no-repeat 0 0;
    background-position: 93% 61%;
    background-size: 23px 23px;
}
.wrap_head .menu_item .search_btn:focus{
    outline: unset;
}
/* 页脚样式 */
.wrap_footer{
    background: #1F2533;
    overflow: hidden;
}
.footer_con{
    height: 180px;
    padding: 50px 0;
    color: #9b9b9b;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1240px;
    margin: auto;
}
.footer_con dl{
line-height: 24px;
}
.footer_con dl dt{
   font-size: 15px;
   color: #FAFCFD;
}
.footer_con dl dd{
   font-size: 11px;
   color:#A6A6AE;
}
.footer_bottom{
   background: #000;
   text-align: center;
   color: #FCF7F7;
   height: 38px;
   line-height: 38px;
}
/* 轮播广告样式 */
.mod_section_ad{
    width: 100%;
    height: 420px;
}
.mod_section_ad img{
    width: 100%;
    height: 100%;
}
/* 面包屑导航 */

/* 公用样式 */
.flex {
    display: flex;
    align-items: center;
}
.center {
    text-align: center;
}
.inline {
    display: inline-block;
}
.block {
    display: block;
}

.center_wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* 文字链接 */
.link_type {
    cursor: pointer;
}
.link_type:hover {
    color: #66b1ff; 
}

/* 图片动态效果 */
.img-animation {
    transition: transform 3s
}
.img-animation:hover {
    transform: scale(1.1);
}

/* 文章标题+副标题 */
.article-title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.article-title .remarks {
    margin-left: 20px;
}

/* 面包屑 */
.crumbs-container .center_wrap {
        width: 1200px;
        margin: 30px auto;
}
.crumbs-container .center_wrap .content {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}
.crumbs-container .center_wrap .content .active {
    color: #21A6E2;
}
/* 轮播图 */
.swiper-container, .operators-swiper-slide {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }