.sub-title{
    font-size: 19px;
    color: #0B0B0B;
    font-weight: 400;
    margin: 15px 0;
}
.dynamics-flx {
    width: 100%;
    background:rgba(244,241,241,1);
    border-radius:11px;
    padding: 18px 0;
}

.dynamics-flx .list-box {
    width: 32%;
    float: left;
    margin-right: 2%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.zhuzuo-box{
    margin-bottom: 18px;
}